<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Proj0830</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>		<!-- 서블릿 등록 -->
  	<servlet-name>helloServlet</servlet-name>
  	<servlet-class>servlet.helloServlet</servlet-class>
  </servlet>
  <servlet-mapping>		<!-- 서블릿과 요청명(요청 URL) 매핑 -->
  	<servlet-name>helloServlet</servlet-name>
  	<url-pattern>/ex12/helloServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>		<!-- 서블릿 등록 -->
  	<servlet-name>directServletPrint</servlet-name>
  	<servlet-class>servlet.directServletPrint</servlet-class>
  </servlet>
  <servlet-mapping>		<!-- 서블릿과 요청명(요청 URL) 매핑 -->
  	<servlet-name>directServletPrint</servlet-name>
  	<url-pattern>/ex12/directServletPrint.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>memberAuth</servlet-name>
  	<servlet-class>servlet.memberAuth</servlet-class>
  	<init-param>
  		<param-name>admin_id</param-name>
  		<param-value>nakja</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>memberAuth</servlet-name>
  	<url-pattern>/ex12/memberAuth.mvc</url-pattern>
  </servlet-mapping>
  
  <context-param>
 	<param-name>OracleDriver</param-name>
 	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  <param-name>OracleURL</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:orcl21v</param-value>
  </context-param>
  <context-param>
  <param-name>OracleId</param-name>
  <param-value>wjb</param-value>
  </context-param>
  <context-param>
  <param-name>OraclePwd</param-name>
  <param-value>1234</param-value>
  </context-param>
</web-app>